body{
  background-color: #222;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
  padding: 1rem;
  border-radius: 10px;
  min-height: 140px;
}
.card.solid{
  background-color: #1e88e5;
  padding: none;
  color: white;
}
.cta{
  background-color: #43a047;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: auto;
}
.card.linear{
  background: linear-gradient(45deg, #1e88e5, #43a047);
  color: white;
}
.card.radial{
  color: #da2708; 
  background: radial-gradient(circle at top left, #81d4fa, #0288d1);
}
.bg-demo{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNu9uulWIgqP6ax8ikiM4eQUf2cNqGtOMkaQ&s");
  background-repeat: repeat-x;
  background-position: center top;
  background-size: contain;
}
.bg-compare .cover{
  background-color: #81d4fa;
}
.bg-compare .contain{
  background-color: aqua;
}
.parallax{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNu9uulWIgqP6ax8ikiM4eQUf2cNqGtOMkaQ&s");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 220px;
}
.card:hover{
  background-color: #43a047;
  color: #00ffea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}